{% extends "base/base.html" %}
{% load static ui icons dict_filters %}

{% block title %}رصد {{ klass.short_code }}{% endblock %}

{% block breadcrumbs %}
{% include "components/breadcrumbs.html" with parent2_url="/wings/" parent2_label="أجنحة المدرسة" parent_url="/wings/record/" parent_label="رصد الغياب" current=klass.short_code %}
{% endblock %}

{% block content %}
<div class="exec-dash">

  {% include "attendance/period_sheet.html" %}
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/period-register.js' %}" defer></script>
{% endblock %}
